.appTop {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  color: #2c589e;
  overflow-x: hidden;
  overflow-y: visible;

  .appBox {
    display: flex;
    overflow-x: hidden;
    overflow-y: visible;
    flex-direction: column;
    flex-grow: 1;
    position: sticky;
    bottom: 0;
  }

  .header {
    display: flex;
    color: #2c589e;
    background-color: #2c589e;

    .headerTitle {
      display: flex;
      margin-right: auto;

      p {
        color: white;
        font-size: larger;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #2c589e;
    border-top-style: groove;
    padding-left: 10px;
    background-color: #2c589e;
    color: white;
    gap: 1rem;

    p {
      color: white;
    }

    a {
      border-top-style: none;
    }
  }
}