.top {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  color: #426b1f;
  overflow-x: hidden;
  overflow-y: visible;

  .topBox {
    display: flex;
    overflow-x: hidden;
    overflow-y: visible;
    flex-direction: column;
    flex-grow: 1;
    position: sticky;
    bottom: 0;
  }

  .header {
    display: flex;
    color: #426b1f;
    background-color: #efecdb;

    .headerTitle {
      display: flex;
      margin-right: auto;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    margin-bottom: auto;

    .BodyTitle {
      display: flex;

      h2 {
        padding-left: 10px;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: left;
    align-items: center;
    border-top: #efecdb;
    border-top-style: groove;
    padding-left: 10px;
    background-color: #efecdb;
    color: #426b1f;

    a {
      border-top-style: none;
    }
  }
}
