.randomizeTop {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: auto;
    height: 100%;
    justify-content: center;
    align-items: center;

    .BodyTitle {
        display: flex;

        h2 {
            display: flex;
            margin: 0;
        }
    }

    .categories {
        display: flex;
        height: 400px;
        gap: 1rem;

        .items {
            display: flex;
            flex-direction: column;
            flex-wrap: no-wrap;
            padding: 1rem;
            gap: 10px;
            resize: both;
            border-style: solid;
            border-radius: 20px;
            height: max-content;

            h2 {
                margin: 0;
            }

            .listName {
                display: flex;
                justify-content: center;
                height: max-content;
            }

            .itemRow {
                display: flex;
                gap: 1rem;
            }

            .item {
                display: flex;
                flex-direction: column;
                height: 200px;
                min-width: 200px;
                padding: 1rem;
                border-style: groove;
                border-color: #426b1f;
                border-radius: 1rem;

                .itemTitle {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    justify-content: space-around;

                    h3,
                    p,
                    u {
                        margin: 0;
                        padding: 0;
                    }

                    .titleRow {
                        display: flex;
                        justify-content: space-around;
                        gap: 2rem;
                    }
                }

                p,
                h2 {
                    margin: 0;
                }

                .itemActions {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .quantityInput {
                        display: flex;
                        max-width: 5rem;
                    }

                    .labels {
                        border-style: solid;
                        border-radius: 3px;
                        height: 70px;
                        padding: 1rem;
                    }
                }
            }
        }
    }
}