.aboutTop {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: auto;
  overflow-x: hidden;

  .BodyTitle {
    display: flex;

    h2 {
      display: flex;
      margin-left: 10rem;
    }
  }

  .itemList {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}
