.userHomeTop {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: auto;
  overflow-x: hidden;
  height: 100%;

  .BodyTitle {
    display: flex;

    h2 {
      display: flex;
      margin-left: 10rem;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;

    .bodyHeader {
      display: flex;
      gap: 1rem;
      height: max-content;
      align-items: center;

      h2 {
        margin: 0;
      }

      .SearchIcon {
        height: max-content;
      }
    }

    .items {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;
      gap: 1rem;
      overflow-y: scroll;
      resize: both;
      border-style: solid;
      border-radius: 20px;
      height: 550px;

      .item {
        display: flex;
        flex-direction: column;
        height: 150px;
        width: 163px;
        padding: 1rem;
        border-style: groove;
        border-color: #426b1f;
        border-radius: 1rem;

        .itemTitle {
          display: flex;
          gap: 2rem;
          justify-content: space-around;

          h3 {
            margin: 0;
            padding: 0;
          }
        }

        .itemActions {
          display: flex;
          gap: 10px;

          .quantityInput {
            display: flex;
            max-width: 5rem;
          }
        }
      }
    }
  }
}