.userHomeTop {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: auto;
  overflow-x: hidden;

  .BodyTitle {
    display: flex;

    h2 {
      display: flex;
      margin-left: 10rem;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
    .itemList {
      display: flex;
      padding: 1rem;
      gap: 1rem;
      
      .item {
        display: flex;
        flex-direction: column;
        height: max-content;
        width: max-content;
        padding: 1rem;
        border-style: groove;
        border-color: #426b1f;
        border-radius: 1rem;

        .itemTitle {
          display: flex;
          justify-content: center;

          h3 {
            margin: 0;
            padding: 0;
          }
        }

        .itemActions {
          display: flex;
          gap: 10px;

          .quantityInput {
            display: flex;
            max-width: 5rem;
          }
        }
      }
    }
  }
}
